@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family:Montserrat, sans-serif;
    background-color: hsl(240, 78%, 98%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: hsl(232, 13%, 33%);
}

body::before {
    content: "";
    background-image: url("/images/bg-top.svg");
    background-position: top right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    z-index: -1;
} 

body::after {
    content: "";
    background-image: url("/images/bg-bottom.svg");
    background-position: bottom left;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.container {
    margin: auto;
    max-width: 100%;
    width: 1200px;
}

.flex {
    display: flex;
    justify-content: center;
}

h1 {
    color: hsl(233, 13%, 49%);
}

.toggle-container {
    color:hsl(234, 14%, 74%);
    margin-bottom: 10px;
    /* display: flex;
    justify-content: center; */
    padding-bottom: 30px;
}

.price-box {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin: 10px;
}

.price-box .monthly {
    display: none;
}

.show-monthly .price-box .monthly {
    display: none;
}

.show-monthly .price-box .monthly {
    display: block;
}
.show-monthly .price-box .annually {
    display: none;
}

.price-box p {
    font-size: 4em;
    margin: 0;
    width: 250px;
}

.price-box ul {
    padding: 0;
    list-style-type: none;
}

.price-box ul li {
    border-bottom: 1px solid hsl(234, 14%, 74%);
    padding: 15px 0;
}

.price-box button {
    background-image: Linear-gradient(
        to right,
     hsl(236, 72%, 79%) 
     ,hsl(237, 63%, 64%)
    );
    border: none;
    color: white;
    font-family:Montserrat, sans-serif;
    letter-spacing: 2px;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    text-transform: capitalize;
    border-radius: 5px;

}

.price-box h4 {
    margin-top: 0;
}
.price-box-premium {
    background-image: Linear-gradient(
        to right,
     hsl(236, 72%, 79%) 
     ,hsl(237, 63%, 64%)
    );
    color: white;
    transform: scale(1.1);
}

.price-box.price-box-premium > * {
    transform: scale(0.89);
}

.price-box-premium button {
    background-image: none;
    background-color: white;
    color: hsl(237, 63%, 64%);
}

.price-box.price-box-premium ul,
.price-box.price-box-premium ul li {
    border-color: #fff;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Pill Toggle */
.toggle-container label {
    background-image: Linear-gradient(
        to right,
     hsl(236, 72%, 79%) 
     ,hsl(237, 63%, 64%)
    );
    cursor: pointer;
    border-radius: 50px;
    width: 60px;
    height: 30px;
    justify-content: center;
    margin: 0 5px;
    display: inline-block;
    position: relative;
    
}

.toggle-container label .ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    transition: 0.4s ease;
}

.toggle-container input {
    position: absolute;
    left: -99999px;
}

.toggle-container input:checked + label .ball {
    transform: translateX(30px);
}

@media screen and (max-width: 930){
    .flex {
        flex-direction: column;
    }

    .price-box.price-box-premium {
        transform: scale(1);
    }

    .price-box.price-box-premium > * {
        transform: scale(1);
    }
}